<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Секция для настроек приложения -->
    <section name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <applicationSettings>
    <FixedAssetInventory.Properties.Settings>
      <!-- Настройки подключения к базе данных -->
      <setting name="DatabaseConnectionString" serializeAs="String">
        <value>Data Source=|DataDirectory|\AssetsDatabase.db;Version=3;Pooling=True;Max Pool Size=100;</value>
      </setting>
      <setting name="DefaultTheme" serializeAs="String">
        <value>Light</value>
      </setting>
    </FixedAssetInventory.Properties.Settings>
  </applicationSettings>

  <runtime>
    <!-- Настройки среды выполнения -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    
    <!-- Включение стилей Windows 10/11 -->
    <CompatSettings xmlns="urn:schemas-microsoft-com:compatibility.v1">
      <Application>
        <!-- Windows 10/11 visual styles -->
        <supportedOS Id="{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}" />
      </Application>
    </CompatSettings>
  </runtime>

  <system.data>
    <!-- Настройки провайдеров данных -->
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.diagnostics>
    <!-- Настройки трассировки -->
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="FixedAssetInventory.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    <sources>
      <source name="System.Data" switchValue="Warning">
        <listeners>
          <add name="myListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <appSettings>
    <!-- Дополнительные настройки приложения -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EnableCaching" value="true" />
    <add key="CacheDuration" value="60" /> <!-- в минутах -->
    <add key="MaxExportRecords" value="10000" />
    <add key="DateFormat" value="dd.MM.yyyy" />
  </appSettings>

    <connectionStrings>
		<add name="Default"
		     connectionString="Data Source=|DataDirectory|\Database\AssetsDatabase.db;Version=3;"
		     providerName="System.Data.SQLite" />
	</connectionStrings>

  <userSettings>
    <!-- Пользовательские настройки -->
    <FixedAssetInventory.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>1000,600</value>
      </setting>
    </FixedAssetInventory.Properties.Settings>
  </userSettings>
</configuration>